@model IEnumerable<VendeeCrop.Models.CropPostModel>

@{
    ViewBag.Title = "Home Page";
}
<div class="container" style="background-color:#e5e5e5; padding:30px 0;">

  
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-12">
                @if (@item.PostImages.Count() > 0)
                {
                    <div class="col-xs-4 post-image-container">

                        <img src="~/Images/@item.PostImages.FirstOrDefault().Image" class="img post-front-image " style="max-width:100%" />

                    </div>
                }
                <div class="post col-xs-8">
                    <h3><img src="~/Images/@item.User.ImagePath" class="img img-thumbnail img-small" /> @item.User.FullName.ToString() - <b>@item.Title</b> </h3>
                    <p>@item.Description</p>
                    <p><a class="btn btn-default" data-toggle="modal" data-target="#modalPost_@item.CropPostId" href="">More details &raquo;</a></p>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="modalPost_@item.CropPostId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle"><img src="~/Images/@item.User.ImagePath" class="img img-thumbnail img-small" /> @item.User.FullName.ToString() - <b>@item.Title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            @if (item.CropPostDetails.Count() > 0)
                            {
                                foreach (var detail in item.CropPostDetails)
                                {
                                    <div class="col-md-12">
                                        @detail.Crop.Name - @detail.Details [Php @detail.Price]
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="col-md-12">
                                    <h2>Missing details</h2>
                                </div>
                            }

                            @foreach (var img in item.PostImages)
                            {
                                <div class="col-xs-12" style="padding-top:20px">
                                    <img src="~/Images/@img.Image" class="img img-thumbnail" style="width:100%" alt="@img.ImageName" />
                                </div>
                            }

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-envelope"></span> Message Post Owner</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </div>
    }


    <button id="sendmessage">Send</button>
</div>