@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="mobile-web-app-capable" content="yes">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendee Crop Login</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/vendee.css" rel="stylesheet" />
    <link href="~/Content/vendee-mobile.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
</head>

<body class="login-body">
    <a href="@Url.Action("Admin","Home")">
        <span class="admin-icon"></span>
    </a>
    <div style="height:100vh;width:100vw; display:flex;align-content:center;justify-content:center;">
        <div id="login-icons-container" class="col-xs-12 col-md-12" style="text-align:center;">
            <a id="spanBuyer" style="display:inline-block;" href="@Url.Action("Login","FarmerModels")"></a>
            <a id="spanFarmer" style="display:inline-block;" href="@Url.Action("Login","BuyerModels")"></a>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        (function () {
            toggleFullScreen();
        })();
    </script>
</body>
</html>
