@model IEnumerable<VendeeCrop.Models.MessageModel>

@{
    ViewBag.Title = "Messages";
    var currentUser = (VendeeCrop.Models.UserModel)Session["UserModel"];
    VendeeCrop.Models.ApplicationDbContext db = new VendeeCrop.Models.ApplicationDbContext();
}



<h2>My Messages</h2>

    @*@Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FromUser.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th></th>
    </tr>*@ 
<div class="container" style="display: flex; align-content: center; justify-content: center;">
    @foreach (var item in Model)
    {
        <div class="col-md-10">
            <div class="col-md-3">
                @if (item.FromUserId == currentUser.Id)
                {
                    var FromUser = db.UserModels.Find(item.ToUserID);
                    <img src="~/Images/@FromUser.ImagePath" class="img img-thumbnail img-small" /><span>@FromUser.FullName</span>
                }
                else
                {
                    <img src="~/Images/@item.FromUser.ImagePath" class="img img-thumbnail img-small" /><span>@item.FromUser.FullName</span>
                }
            </div>
            <div class="col-md-6">
                <h3>@item.Message</h3>
            </div>
            <div class="col-md-3">
                @if (item.FromUserId == currentUser.Id)
                {
                    @Html.ActionLink("View", "MessageNew", new { id = item.ToUserID })
                }
                else
                {
                    @Html.ActionLink("View", "MessageNew", new { id = item.FromUserId })
                }

            </div>
        </div>
    }
    </div>
@foreach (var item in Model) {



    @*<tr>
        <td>
            @Html.DisplayFor(modelItem => item.FromUser.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MessageId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MessageId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MessageId })
        </td>
    </tr>*@
}

@*</table>*@
