@model VendeeCrop.Models.NewMessageViewModel

@*@{
        ViewBag.Title = "MessageNew";
    }*@

@*<h2>MessageNew</h2>*@

<div class="container" style="background-color:#e5e5e5;height:80vh;">
    <div class="row" style="display: flex; align-content: center; justify-content: center;">
        <div class="col-xs-8" style="background-color:#b6ff00;padding-top:30px;padding-bottom:20px;height:80vh;padding-left:0;padding-right:0;">
            <div class="col-xs-12">
                @foreach (var chat in Model.Messages)
                {
                    if (chat.FromUserId == ((VendeeCrop.Models.UserModel)Session["UserModel"]).Id)
                    {
                        <div class="col-xs-12" style="text-align:right;">
                            <span>@chat.Message</span>@*<img src="~/Images/@chat.FromUser.ImagePath"/>*@
                        </div>
                    }
                    else
                    {
                        <div class="col-xs-12" style="text-align:left;">
                            <span>@chat.Message</span>@*<img src="~/Images/@chat.FromUser.ImagePath"/>*@
                        </div>
                    }
                }
            </div>
            <div class="col-xs-12" style="bottom:0;position:absolute;padding-right:0;padding-left:0;">
                <div class="input-group">
                    <input id="myMessage" type="text" class="form-control" placeholder=". . ." style="width:100%;max-width: 100%;">
                    <span class="input-group-btn">
                        <button id="sendmessage" class="btn btn-secondary">Send</button>
                    </span>
                </div>
            </div>
        </div>

    </div>

</div>

@*<button id="sendmessage">Send</button>*@

<script>
    //(function () {



    jQuery('#myMessage').keypress(function (e) {

        var keyCode = (event.keyCode ? event.keyCode : event.which);
        if (keyCode == 13) {
            console.log("clicked");
            toId = '@(Model.ToUserModel.Id)';
            notificationType = 'Message';
            $('#sendmessage').trigger('click');
            $('#myMessage').val('');
        }
    });
    //});
</script>

@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>MessageModel</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.FromUserId, "FromUserId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("FromUserId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FromUserId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ToUserID, "ToUserID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ToUserID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ToUserID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Created, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Created, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Created, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }*@

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
