@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @if (Session["UserModel"] != null)
        {

            //if (Session["BuyerModel"] != null)
            //{
            var Name = ((VendeeCrop.Models.UserModel)Session["UserModel"]).FullName;
            var _Id = ((VendeeCrop.Models.UserModel)Session["UserModel"]).Id;
                <li>@Html.ActionLink("Hello " + Name , "Edit", "Users", routeValues: new { Id = _Id}, htmlAttributes: new { id = "logoutLink" })</li>
                <li>@Html.ActionLink("Logout", "Logout", "BuyerModels", routeValues: null, htmlAttributes: new { id = "logoutLink" })</li>
            //}
            @*else if (Session["FarmerModel"] != null)
            {
                var Name = ((VendeeCrop.Models.FarmerModel)Session["FarmerModel"]).FirstName;
                var _Id = ((VendeeCrop.Models.FarmerModel)Session["FarmerModel"]).Id;
                <li>@Html.ActionLink("Hello " + Name, "Edit", "FarmerModels", routeValues: new { Id = _Id }, htmlAttributes: new { id = "logoutLink" })</li>
                <li>@Html.ActionLink("Logout", "Logout", "FarmerModels", routeValues: null, htmlAttributes: new { id = "logoutLink" })</li>
            }*@
        }

    @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
    </ul>
}
